body {
    display: grid;
    grid-template-areas: ". . ." ". container ." ". . .";
    background-color: #004C9E;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    height: 100vh;
}

.container {
    grid-area: container;
    background-color: #ededee;
    max-width: 30rem;
    padding: 1rem;
}

.box {
    background-color: #ffffff;
    padding: 1rem;
}
